.footerElementsWrapper {
    background: rgb(247, 231, 210);
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerElements {
    width: 94%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(247, 231, 210);
}

.logo, .gitHubPicture, .navLinks {
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
}

.logo, .gitHubPicture {
    justify-content: center;
}

.navLinks {
    justify-content: space-between;
}

.logo {
    background-image: url("./svgs/kendallhunt.svg");
    background-size: 80%;
}

.gitHubPicture {
    background-image: url("./svgs/githubicon.svg");
    background-size: 20%;
}

.logo, .gitHubPicture {
    background-position: center;
    background-repeat: no-repeat;
}