.myWork {
    padding-top: 2%;
    padding-bottom: 4%;
    margin: 0;
    background: white;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workSort {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.workHolder {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 50%);
    grid-gap: 10px 10px;
}

.workBox {
    display: flex;
    border: solid black 1px;
    border-radius: 2px 2px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

.workBox a {
    color: black;
    text-decoration: none;
}
.tipCalculator {
    /* background: url("Asset\ 1.svg"); */
}

.openSourceProject {
    /* background: url("animation.svg"); */
}


.workBox {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.seperatorLine {
    margin-top: 6%;
    width: 20%;
    border-bottom: solid rgb(182, 182, 182) 3px;
}